/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
}

.random-number-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  border-radius: 16px;
  border: 1px solid #e4ebf3;
  padding: 36px;
  box-shadow: 0px 4px 16px 0px #eaebed;
}

@media screen and (min-width: 768px) {
  .random-number-generator-container {
    width: 35%;
    max-width: 500px;
  }
}

.heading {
  text-align: center;
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 24px;
  }
}

.description {
  text-align: center;
  color: #333333;
  font-family: 'Roboto';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 18px;
  }
}

.generate-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-top: 14px;
  outline: none;
  cursor: pointer;
}

.random-number {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .random-number {
    font-size: 48px;
  }
}
/*


* {
  box-sizing: border-box;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  font-family: 'Roboto';
  border-radius: 15px;
}

.title {
  color: #0b69ff;
  font-weight: 600;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 45px;
    font-weight: 800;
  }
}

.description {
  color: #333333;
  font-weight: 300;
  font-size: 18px;
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 25px;
    font-weight: 500;
  }
}

.random-button {
  background-color: #0b69ff;
  color: #eaebed;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  margin-top: 15px;
}

.count {
  font-weight: 700;
  font-size: 40px;
  color: #0b69ff;
}

@media screen and (min-width: 768px) {
  .count {
    font-size: 82px;
    font-weight: 800;
  }
}
*/
